<!-- index page -->

<% // title is a paramater used by base to set the page title %>
<% title= 'Home' %>

<% include partials/base %>

<h1>SVCC Auth!</h1>
  <p>Welcome to the SVCC Auth! home page. Please <a href="/register">register</a> or <a href="/login">login</a> to continue!</a>

<% include partials/foot %>
