<!-- register page -->

<% // title is a paramater used by base to set the page title %>
<% title= 'Login' %>

<% include partials/base %>

<h1>Log into your account</h1>
<% if (locals.error) {%>
     <p>ERROR: <%= error %></p>
<% } %>

<form method="post">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">

  <span>Email:</span>
  <input type="text" name="email" required=true></br>

  <span>Password:</span>
  <input type="password" name="password" required=true></br>

  <input type="submit">
</form>

<% include partials/foot %>
